name: Go

on:
  push:
    branches: [main]
  pull_request:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}

permissions:
  contents: read

jobs:
  # If adding a new job, add it to the `needs` list of the `go` job as this is
  # what gates PRs.
  go:
    runs-on: ubuntu-latest
    needs: [go_test, go_generate, go_tidy, go_fuzz]
    steps:
      - run: echo "Dependencies successful"

  go_test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version-file: "go.mod"
      - run: go test ./...

  go_generate:
    env:
      EXCLUDE_REGEX: "ava-labs/libevm/(accounts/usbwallet/trezor)$"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version-file: "go.mod"

      - name: Run `go generate`
        run: go list ./... | grep -Pv "${EXCLUDE_REGEX}" | xargs go generate;

      - name: git diff
        run: git diff --exit-code

  go_tidy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version-file: "go.mod"
      - run: go mod tidy
      - run: git diff --exit-code

  find_fuzz_targets:
    runs-on: ubuntu-latest
    outputs:
      targets: ${{ steps.find.outputs.targets }}
    steps:
      - uses: actions/checkout@v4
      - id: find
        run: |
          echo "targets=$(grep --recursive --include '**_test.go' -oP "^func \KFuzz[^(]+" | xargs jq -c -n '$ARGS.positional' --args)" >> $GITHUB_OUTPUT

  go_fuzz:
    needs: [find_fuzz_targets]
    runs-on: ubuntu-latest
    strategy:
      matrix:
        target: ${{fromJSON(needs.find_fuzz_targets.outputs.targets)}}
    env:
      FUZZ_TIME: ${{ github.ref_name == 'main' && '15m' || '60s' }}
    steps:
      - run: |
          echo "${{ matrix.target }}" | awk -F: '{print $1}' | xargs dirname | xargs -i echo "PACKAGE={}" >> "$GITHUB_ENV"
      - run: |
          echo "${{ matrix.target }}" | awk -F: '{print $2}' | xargs -i echo "FUNCTION={}" >> "$GITHUB_ENV"
      - uses: actions/checkout@v4
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version-file: "go.mod"
      - run: |
          go test -fuzz ${FUNCTION} -fuzztime ${FUZZ_TIME} ./${PACKAGE}
